/* Alerts and form errors used by phx.new */

.alert {
	@apply flex items-center space-x-3 p-4 text-sm text-blue-700 bg-blue-100 dark:bg-blue-200 dark:text-blue-800;
}

.alert .close {
	@apply block text-center ml-auto cursor-pointer hover:bg-gray-50 hover:bg-opacity-80 hover:rounded-full p-1;
}

.alert .close svg {
	@apply w-5 h-5;
}

.alert .message {
	@apply flex-1;
}

.alert.info {
	@apply text-white bg-dark-100 dark:bg-dark-200 dark:text-white;
}

.alert.success {
	@apply text-green-700 bg-green-100 dark:bg-green-200 dark:text-green-800;
}

.alert.error, .invalid-feedback {
	@apply text-red-700 bg-red-100 dark:bg-red-200 dark:text-red-800;
}

.alert.primary {
	@apply text-primary-700 bg-primary-100 dark:bg-primary-200 dark:text-primary-800;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
	display: none;
}

.phx-click-loading {
	opacity: 0.5;
	transition: opacity 1s ease-out;
}

.phx-loading {
	cursor: wait;
}


.invalid-feedback {
	@apply px-2 rounded;
}