.input_group {
	@apply relative;
	@apply flex flex-col w-full px-2 pt-4 pb-1 rounded-md;
	@apply bg-gray-100 cursor-text;
}

.input_group[field-error] {
	@apply ring ring-red-200;
}

.input_group .label {
	@apply absolute top-5 left-5 -z-0;
	@apply text-gray-500 font-medium;
}

.input_group select,
.input_group input[type="email"],
.input_group input[type="text"],
.input_group input[type="datetime-local"],
.input_group input[type="password"],
.input_group input[type="time"],
.input_group textarea {
	@apply bg-transparent;
	@apply w-full focus:ring-0 border-none z-0 pt-3;
}

.input_group .icon {
	@apply m-auto;
}

/** Checkbox **/
.input_group.checkbox__ {
	@apply cursor-pointer border border-gray-50 p-4;
}

.input_group.checkbox__ .label {
	@apply relative top-0 left-0;
}

.input_group.checkbox__:has(:checked) {
	@apply select-none bg-primary-50 border-primary-500;
}

.input_group.checkbox__ input {
	@apply hidden;
}

/** Filled **/
.input_group.filled .label,
.input_group input[type="datetime-local"] + .label,
.input_group input[type="date"] + .label,
.input_group input[type="time"] + .label,
.input_group:focus-within .label,
.input_group[field-fill] .label {
	@apply transition-all text-xs;
	@apply top-2;
}

.input_multi_select {
	@apply min-h-fit;
}

.input_multi_select .options {
	@apply py-3 px-3;
}

.input_multi_select .options .item {
	@apply block p-2 px-4 border w-fit rounded;
}

.input_multi_select .options .item:has(:checked) {
	@apply bg-primary-500 text-white;
}
.input_multi_select .options .item:has(:checked) input[type="checkbox"] {
	@apply bg-primary-800;
}
.input_multi_select .options input[type="checkbox"] {
	@apply hidden;
}

/** tag */
.input_group .input_tags {
	@apply flex flex-wrap;
}
.input_group .input_tags li {
	@apply flex items-center hover:bg-red-100 hover:cursor-pointer;
	@apply m-1 py-0.5 pl-5 pr-4 rounded-full bg-gray-200 text-dark-500;
	@apply after:hover:opacity-100 hover:pl-3 hover:pr-2 after:hover:w-4;
}

.input_group .input_tags li::after {
	content: "";
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' %3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6M6 6l12 12' /%3E%3C/svg%3E%0A");
	background-size: 80%;
	background-position: center;
	@apply text-xs text-center opacity-0;
	@apply block w-0 h-4 ml-2;
	@apply rounded-full bg-white;
}

.input_group .input_tags li[demo] {
	@apply pl-3 pr-2 text-gray-500 bg-gray-200 cursor-help;
}
.input_group .input_tags li[demo]::after {
	@apply hidden;
}

/**
 * Basic inputs
 */

.input,
.select,
.textarea {
	@apply border border-gray-300 rounded-md py-2;
}
