<section class="m-auto">
    <%= if Enum.count(@campaigns.entries) > 0 do %>
    <div>
        campaigns <%= Enum.count(@campaigns.entries) %>
    </div>
    <% else %>
        <.live_component 
            module={NewnixWeb.Components.Cards.EmptyStateComponent} 
            title="campaign" 
            id="campaign-empty-state"
            href={Routes.live_path(@socket, NewnixWeb.Project.DashboardLive.Index)} />
    <% end %>
</section>