<main class="flex flex-1">
    <section class="main flex-1 p-8 md:px-36 w-full md:max-w-screen-md flex items-center justify-center">
        <div class="w-full">
            <%= @inner_content %>
        </div>
    </section>

    <section class="sidebar__ hidden md:block bg-gray-100 flex-1 h-full">

    </section>
</main>