
<div class="h-full min-h-screen flex flex-col flex-1">
  <.live_component module={NewnixWeb.Components.Partials.NavbarComponent} id="navbar" />
  <div class="min-h-0 flex-1 flex overflow-hidden">
      <section aria-labelledby="primary-heading" class="min-w-0 flex-1 h-full flex flex-col overflow-y-auto lg:order-last m-auto">
        <%= @inner_content %>
      </section>
  </div>
</div>
